# Semana 07

David Rosado Valerio

1. Numeros
2. Variables
3. Manejo de variables
4. Ingreso de datos por el teclado
5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [3]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [4]:
# 5.2 Operadores de asignacion
# Se tiene =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [6]:
numero = 5
numero += 3
print(numero)

8

In [9]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo
numero = 5
numero = numero ** 3
print(numero)
numero = 5
numero **=3
print(numero)

125
125

In [10]:
# 5.3 Operadores de comparacion
# Se tiene: ==, !=, <, >, <=, >=,

In [11]:
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [12]:
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [13]:
# Operadores logicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 3
numero3 = 6
numero4 = 8

In [14]:
# EL not inierte el resultado
not(numero1<numero2)

True

In [16]:
# 5.4 Operadores de pertenencia
# Se tiene: in, not in

In [17]:
# Miermos un ejemplo

aula=["Juan", "David", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
alumno1 in aula

False

In [20]:
alumno2 not in aula

False

In [21]:
#5.6 Operadores de identidad
#se tiene: is, is not

In [22]:
aula1=["Juan","Daniel","Ruben"]
aula2=["Juan","Daniel","Ruben"]
#A continucacion vamos a indicar que aula 3 va a 
#compartir el mismo objeto que aula1
aula3 =aula1

In [23]:
# ¿Aula3 comparte el mismo objeto que aula 1?
aula3 is aula1

True

In [24]:
#¿Aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [27]:
aula1.append("Diego")

In [26]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']