# Semana 07

David Rosado Valerio

1. Numeros
2. Variables
3. Manejo de variables
4. Ingreso de datos por el teclado
5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [ ]:
# Universidad Nacional Tecnologica de Lima Sur
# ****************************************

In [2]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
# Para mostrar una subcadena [desde. hasta una antes]

In [6]:
# En java era substring()

In [7]:
cadena[3:8]

'versi'

In [8]:
# Para saber el tamaño de una cadena utilizamos len()
# Incluy espacios en blanco

In [9]:
len(cadena)

44

In [10]:
# para mostrar una cadena en mayuscula utilizamos upper()

In [11]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [12]:
# Ojo... Solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [13]:
# Para mostrar una adena en minuscula utilizamos lower()

In [14]:
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [15]:
# Generar una lista a partir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [18]:
# Generar una lista utilizando un criterio de separación a partir de una cadena split()
# En este caso bamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [20]:
# Forma clasica de concatenar con +
nombre = "David Rosado"
print("Buenas tardes "+nombre)

Buenas tardes David Rosado

In [21]:
# Utilizando .format()
edad  = 23
print("hola {} ya se que tienes {} años". format(nombre, edad))

hola David Rosado ya se que tienes 23 años

In [23]:
# Dar formato con muchos decimales
resultado = 10/3
print("10/3 = {}".format(resultado))
print("10/3 = {r:1.3f}".format(r=resultado))

10/3 = 3.3333333333333335
10/3 = 3.333

In [26]:
# Utilizando f
print(f"10/3 = {resultado}")
print(f"10/3 = {resultado:1.3f}")
print(f"buenos días {nombre}, ya sé que tienes {edad} años")

10/3 = 3.3333333333333335
10/3 = 3.333
buenos días David Rosado, ya sé que tienes 23 años