# Semana 07

David Rosado Valerio

1. Numeros
2. Variables
3. Manejo de variables
4. Ingreso de datos por el teclado
5. Operadores

2. Variables

In [1]:
# Siempre deben iniciar con una letra o un guion abajo. (Nunca con un numero y otro simbolo)

In [2]:
edad = 23
edad

23

In [3]:
nombre = "David"
nombre

'David'

In [5]:
apellido = "Rosado Valerio"
apellido

'Rosado Valerio'

In [6]:
nombrecompleto = nombre + apellido
nombrecompleto

'DavidRosado Valerio'

In [7]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'David Rosado Valerio'

In [8]:
# Para saber el tipo de variable utilizamos type()

In [9]:
numero = 30
type(numero)

int

In [10]:
type(nombre)

str

In [11]:
talla = 1.45
talla

1.45

In [12]:
type(talla)

float

In [13]:
# Para convertir un numero en cadena utilizamos str()

In [14]:
numero = 100
cadena = str(numero)
cadena

'100'

In [15]:
type(cadena)

str

In [16]:
# Para convertir una cadena en un entero utilizamos int()

In [17]:
cadena2 = "50"
numero2 = int(cadena2)

In [18]:
numero2

50

In [19]:
type(numero2)

int

In [20]:
# Para convertir una cadena a un decimal utilizamos float()

In [21]:
cadena2 = "50"
numero2 = float(cadena2)

In [22]:
numero2

50.0

In [23]:
type(numero2)

float